# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
*.env

# Data / outputs
data/
*.json
*.jsonl
*.csv

# Logs
*.log

# Git
.git/
.gitignore

# Docker files
Dockerfile*
docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db

images/
