bcrypt==3.2.0
elasticsearch==8.12.0
elastic-transport==8.17.1
fastapi==0.128.0
httpx[http2]==0.28.1
loguru==0.7.3
pandas==2.3.3
passlib==1.7.4
prometheus-fastapi-instrumentator==7.1.0
protobuf==4.23.3
pyjwt==2.11.0
python-multipart==0.0.22
python-dotenv==1.2.1
python-jose==3.5.0
sentencepiece==0.2.1
transformers==4.34.0
uvicorn==0.40.0