name: CD - Build & Push Docker Images

on:
  workflow_run:
    workflows: ["CI Python - Lint and Test"]
    types:
      - completed
    branches:
      - "master"
      - "main"
      - "develop"

jobs:
  release:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push FastAPI image
        run: |
          docker build -f src/docker/Dockerfile_api -t ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-satisfaction:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-satisfaction:latest

      - name: Build & push Streamlit image
        run: |
          docker build -f src/docker/Dockerfile_frontend -t ${{ secrets.DOCKERHUB_USERNAME }}/streamlit-satisfaction:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/streamlit-satisfaction:latest
